#verifyBtn {
  margin-left: 50px;
  border: 1px solid crimson;
  padding: 5px 10px;
  border-radius: 5px;
  color: crimson;
  font-weight: 600;
}

#verifyBtn:hover {
  color: white;
  background-color: crimson;
  cursor: pointer;
}